.outer_div{
  display: block;
}

.info_header{
  text-align: center;
  margin-bottom: 4cqh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-top: 30px;
}

.upload_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video_box {
  position: relative;
  width: 400px;
  height: 300px;
}

.no_video_box{
  width: 320px;
  height: 240px;
  border: 1px solid black;
}

.input_file{
  margin-bottom: 30px;
}

.clear_button{
  position: absolute;
  left: 50px;
  width: 50px;
  top: 0px;
}


@media (max-width: 600px) {
  .container {
    flex-direction: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    height: auto;
    padding: 1rem;
  }

  .no_video_box{
    position: inherit;
    margin-left: 50px;
  }

  .info_header{
    font-size: 12px;
    padding: 10px;
  }
  
}