.header {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  padding: 0rem 2rem;
  background-color: #ffffff;
}

.header a {
  white-space: nowrap;
  color: black;
  text-decoration: none;
}

.header .site_title {
  font-size: 2rem;
}

.site_nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.profile_containter {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile_containter .register_link {
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  color: #fffafa;
  background-color: black;
  font-weight: 600;
}

.profile_containter .profile_link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


@media (max-width: 600px) {
  .header {
    flex-direction: flex;
    gap: 0.2rem;
    height: auto;
    padding: 1rem;
  }

  .header .site_title{
    font-size: 15px;
  }

  .site_nav {
    gap: 10px;
    font-size: small;
  }

  .profile_containter {
    gap: 1rem;
  }
}