.modal_video_holder{
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.modal_tip{
  margin: auto;
}

.modal_tip h2{
  font-size: 15px;
}

.modal_content{
    padding: 0px;
    margin-top: 0px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: auto; /* Adjust the width of the rectangle as needed */
    height: auto; /* Adjust the height of the rectangle as needed */
    border: 2px solid blue;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.red_box {
    position: absolute;
    z-index: 5;
    border: 3px dotted red;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  .thumbnail_container {
    position: relative;
    overflow: hidden;
  }
  

  @media (max-width: 600px) {
    .modal_content{
        width: 350px;
        height: 350px;
    }
    .modal_tip{
        font-size: 12px;
    }

  }